* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #111;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #00bfff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero button {
    padding: 12px 25px;
    background: #00bfff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #008ecc;
}

/* PROJECTS */
.projects {
    padding: 60px 80px;
}

.project-card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    background: #222;
}