* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
   background: linear-gradient(
        135deg,
        #0f0f1a,
        #141428,
        #1a1a2e
    ) ;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #111;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #00bfff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero button {
    padding: 12px 25px;
    background: #00bfff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #008ecc;
}

/* PROJECTS */
.projects {
    padding: 60px 80px;
}

.project-card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.project-card:hover {
    transform: translateY(-8px);
    background: #222;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 10%;
}

.hero-content {
    max-width: 500px;
    text-align: left;
}

.hero-image img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00bcd4;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #0097a7;
    transform: translateY(-3px);
}